@import "variables.scss";

#map{
    height: 45vw;
}

#infos {
    display: none;
}

.filters {
    background-color: lighten($black, 78%);
    padding: 24px;
}

#filter_role {
    margin-bottom: 8px;
}

.form-group label, .form-control {
    margin-bottom: 0;
    margin-right: 24px;
}

label {
    margin-right: 24px;
    margin-left: 4px;
}

@media screen and (max-width: 760px){
    #map{
        height: 80vh;
    }

    .infosMobile {
        position: fixed;
        background-color: $light-grey;
        width: 100%;
        height: 100%;
        opacity: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
    }
}
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
}

.btn:hover {
    background-color: whitesmoke;
    color: $primary;
}
